<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>orbyt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
				<key>dateExpires</key>
				<string>9/30/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ffmpegkit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavcodec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavdevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>60.1.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavfilter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavformat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>58.2.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavutil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>58.2.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.10.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswresample.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3DDC7DACBCD6142C64416A5A0B83B79F591BA4</string>
						<key>dateExpires</key>
						<string>9/30/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libswscale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D8VXFBV8SJ</string>
						<key>name</key>
						<string>Jack Hannon</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.100</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D8VXFBV8SJ.com.getorbyt.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D8VXFBV8SJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>orbyt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>77aac9f4-18f0-4c3a-84fa-4f1986f85c72</string>
				<key>dateExpires</key>
				<string>7/9/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.getorbyt.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D8VXFBV8SJ</string>
				<key>name</key>
				<string>Jack Hannon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
